---
- hosts: web
  become: true
  tasks:
    - name: Install Apache2
      apt:
        name: apache2
        state: present
    - name: Configure Apache2 port 82
      apt:
        name: apache2-portsmap
        state: present